body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; 
    margin: 0;
    padding-top: 20px; 
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 1200px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #003366;
    a {text-decoration: none;
      color: #003366;
      }
}

label {
    display: block;
    margin-top: 10px;
    color: #003366;
}

input[type="number"],
select {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.checkbox-group label {
    margin: 5px 0;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055cc;
}

.cancel-button {
    background-color: #cc0000;
}

.cancel-button:hover {
    background-color: #ff0000;
}

@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .container {
        width: 48%;
    }
}

/* Search Bar Dropdown Styles */
.dropdown-content {
    position: relative;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    width: 100%;
    z-index: 1000;
}

.dropdown-content div {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #e9e9e9;
}


/* Sprechblase */
.tooltip-icon {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
}

.tooltip-text {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    bottom: -50px;
    left: 0;
    z-index: 1;
}

.tooltip-icon:hover + .tooltip-text {
    display: block;
}



 /* Results Container Styles */
        .results {
            margin-top: 20px;
        }

        .result-item {
            background-color: #003366;
            color: white;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 10px;
            a {text-decoration: none;
              color: white;
              }
        }

        .result-item h2 {
            margin-top: 0;
            a {text-decoration: none;
              color: white;
              }
        }

        .result-details {
            margin-top: 10px;
        }

        .result-details span {
            display: block;
        }
